#canonical-footer {
    width:100%;
    font-family: "Ubuntu", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #111;
    padding: 0;

    display:grid;
    grid-gap:0 1.5rem;
    grid-template-columns:repeat(4,minmax(0,1fr));
    grid-template-rows:auto;
    margin: 0 auto;
    max-width:72rem;
}

#canonical-footer * {
    line-height: 24px;
}
#canonical-footer > * {
    grid-column-start: auto;
    grid-column-end:span 4;
}

#canonical-footer-divider {
    box-sizing: content-box;
    position: relative;
    overflow: visible;
    left: -10px;
    width: 100vw;
    height: 1px;
    border: 0;
    border-bottom: 1px solid #d9d9d9;
    border-collapse: separate;
    background: rgba(0,0,0,.15);
    margin: 2em 0 calc(.5em - 1px);
}

#canonical-footer p {
    font-size: 1em;
    margin-top:0;
    padding-top:.4005em;
    margin-bottom:1.1em;
    max-width:40em;
}
#canonical-footer .u-no-margin--bottom:not(hr):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(p):not(small):not([class*=p-heading]):not([class*=p-button--link]){
    margin-bottom:0!important;
}
#canonical-footer .p-button {
    transition-duration:.1s;
    transition-property:background-color,border-color;
    transition-timing-function:cubic-bezier(.55,.055,.675,.19);
    border-radius:.125em;
    border-style:solid;
    border-width:1px;
    cursor:pointer;
    display:inline-block;
    font-size:14px;
    font-weight:300;
    justify-content:center;
    margin:0 1em 1.375em 0;
    padding:calc(.457em - 1px) 1.143em;
    text-align:center;
    text-decoration:none;

    background-color:#fff;
    border-color:rgba(0,0,0,.56);
}
#canonical-footer .p-button:focus {
    outline:.1875em solid #2e96ff;
    outline-offset:-.1875em;
}
#canonical-footer .p-button:focus-visible {
    outline:.1875em solid #2e96ff;
    outline-offset:-.1875em;
}
#canonical-footer a:focus:not(:focus-visible) {
    outline:0;
    outline-offset:0;
}

#canonical-footer .p-button:active,
#canonical-footer [aria-expanded=true].p-button,
#canonical-footer [aria-pressed=true].p-button,
#canonical-footer [aria-selected=true].p-button{
    background-color:#e6e6e6;
    border-color:rgba(0,0,0,.56);
    transition-duration:0s;
}
#canonical-footer .p-button:active,
#canonical-footer .p-button:focus,
#canonical-footer .p-button:hover {
    text-decoration:none;
}
#canonical-footer .p-button:last-child {
    margin-right:0;
}

#canonical-footer .p-button:hover{
    background-color:#f2f2f2;
    border-color:rgba(0,0,0,.56);
}
#canonical-footer a {
    color:#111;
    text-decoration:none;
}
#canonical-footer a:focus{
    outline:.1875em solid #2e96ff;
    outline-offset:-.1875em;
}
#canonical-footer a:focus-visible{
    outline:.1875em solid #2e96ff;
    outline-offset:-.1875em;
}
#canonical-footer a:hover{
    cursor:pointer;
    text-decoration:underline;
}
#canonical-footer ul{
    margin-bottom:1.5em;
    margin-left:1em;
    margin-top:0;
    padding-left:1em;
    list-style:none;
    list-style-image:none;
}
#canonical-footer li{
    margin:0;
    padding:0;
    display: block;
    list-style: none;
    margin-right: 1.143em;
}
#canonical-footer .p-inline-list-icons li {
    display:inline-block;
    vertical-align:middle;
}

@media (max-width:619px){
    #canonical-footer > * {
        grid-column:auto/span 4;
    }
    #canonical-footer li::after{
        display:none;
    }
}
@media (max-width:620px){
    #canonical-footer .p-inline-list-icons{
        margin-left:0;
        margin-top:1em;
        padding-left:0;
    }
}
@media (min-width:620px)and (max-width:1035px){
    #canonical-footer > * {
        grid-column:auto/span 6;
    }
}
@media (min-width:620px){
    #canonical-footer {
        grid-gap:0 2em;
        grid-template-columns:repeat(6,minmax(0,1fr));
    }
    #canonical-footer > * {
        grid-column-end:span 6;
    }
}
@media (min-width:1036px){
    #canonical-footer {
        grid-gap:0 2em;
        grid-template-columns:repeat(12,minmax(0,1fr));
    }
    #canonical-footer > * {
        grid-column-end:span 12;
    }
}
@media (min-width:620px){
    #canonical-footer {
        padding-left:1.5em;
        padding-right:1.5em;
    }
}
@media (min-width:1036px){
    #canonical-footer {
        padding-left:1.5em;
        padding-right:1.5em;
    }
    #canonical-footer > .col-7{
        grid-column-end:span 7;
    }
    #canonical-footer > .col-5{
        grid-column-end:span 5;
    }
}
@media only screen and (min-width:620px){
    #canonical-footer {
        padding: 0 0 2.5em 0;
    }
    #canonical-footer li {
        display:inline-block;
    }
    #canonical-footer .p-footer--secondary__nav li {
        display:inline-block;
    }
    #canonical-footer .p-inline-list-icons{
        float:right;
        padding-left:0;
    }
}
@media only screen and (max-width:619px){
    #canonical-footer {
        margin-top:0;
    }
}
@media only screen and (min-width:1036px){
    #canonical-footer .p-inline-list-icons{
        margin-top:.25em;
    }
}
#canonical-footer .p-footer--secondary__content{
    margin-bottom:.125em;
    max-width:inherit;
}

#canonical-footer .p-inline-list,
#canonical-footer .p-inline-list--middot {
    margin-left: 0;
    padding-left: 0;
}

#canonical-footer .p-inline-list--middot li::after {
    content: "•";
    position: relative;
    right: -0.25em;
}
#canonical-footer .p-inline-list--middot li:last-of-type::after,
#canonical-footer .p-inline-list--middot li .last-item::after {
    content: "";
}


/* Social Icons */
#canonical-footer .p-inline-list-icons .p-inline-list__link--facebook,
#canonical-footer .p-inline-list-icons .p-inline-list__link--linkedin,
#canonical-footer .p-inline-list-icons .p-inline-list__link--rss,
#canonical-footer .p-inline-list-icons .p-inline-list__link--twitter{
    display:block;
    fill:#666;
    height:32px;
    width:32px;
}
#canonical-footer .p-inline-list-icons .p-inline-list__link--twitter:hover .twttr-icon{
    fill:#1da1f2;
}
#canonical-footer .p-inline-list-icons .p-inline-list__link--facebook:hover .facebook-icon{
    fill:#3b5898;
}
#canonical-footer .p-inline-list-icons .p-inline-list__link--linkedin:hover .lnkdn-icon{
    fill:#0274b3;
}
#canonical-footer .p-inline-list-icons .p-inline-list__link--rss:hover .rss-icon{
    fill:#ea781a;
}

@media (max-width: 619px) {
    #canonical-footer .u-hide--small {
        display: none !important;
    }
}

@media (min-width: 1036px) {
    #canonical-footer .u-hide--large {
        display: none !important;
    }
}
@media (min-width: 620px) and (max-width: 1035px) {
    #canonical-footer .u-hide--medium {
        display: none !important;
    }
}
