{% extends '~events/contributions/display/contribution_display.html' %}

{% macro canonical_render_speakers(contribution) %}
    <section>
        <div class="header">
            <div class="header-row">
                <h3>
                    {%- trans count=contribution.speakers|length -%}
                        Speaker
                    {%- pluralize -%}
                        Speakers
                    {%- endtrans -%}
                </h3>
            </div>
        </div>
        <div class="speaker-list">
            {{ canonical_render_users(contribution.speakers|sort(attribute='display_order_key'),
                            span_class='speaker-item', separator='', contribution=contribution) }}
        </div>
    </section>
{% endmacro %}

{% macro canonical_render_users(user_list, span_class='', title=true, italic_affiliation=false, separator=', ', contribution=None) -%}
    {%- for link in user_list -%}
        {%- if caller is defined -%}
            {{- caller(link) -}}
        {%- else -%}
            <span class="{{ span_class }}">
                {{- canonical_render_user_data(link, show_title=title, italic_affiliation=italic_affiliation, contribution=contribution) -}}
            </span>
        {%- endif -%}
        {%- if not loop.last -%}
            {{- separator -}}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro %}

{% macro canonical_find_pronouns_field(regform, user) %}
    {%- set reg = regform.get_registration(user) -%}
    {%- if reg -%}
        {%- for field in reg.data -%}
            {%- if field.field_data.field.title == "Pronouns" -%}
                {{ field.data }}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endmacro %}

{% macro canonical_find_pronouns(contribution, user) -%}
    {# There is likely a better way to do this. Should upstream a pronouns field in the user profile #}
    {%- set inpersonreg = contribution.event.registration_forms | selectattr('title', 'equalto', 'In-person Registration') | first | default(None) -%}
    {%- set found = namespace(value="") -%}
    {%- if user and inpersonreg -%}
        {%- set found.value = canonical_find_pronouns_field(inpersonreg, user) -%}
    {%- endif -%}
    {%- if user and not found.value -%}
        {%- for regform in contribution.event.registration_forms if not found.value -%}
            {%- set found.value = canonical_find_pronouns_field(regform, user) -%}
        {%- endfor -%}
    {%- endif -%}
    {{ found.value }}
{%- endmacro %}

{% macro canonical_render_user_data(user_data, show_title=true, italic_affiliation=false, contribution=None) -%}
    <div class="avatar-image">
        <img src="{{ user_data.person.user.avatar_url|default('/assets/avatar/' + ((user_data.person.first_name + ' ' + user_data.person.last_name)|urlencode) + '.svg')}}" alt="" class="ui large circular label">
    </div>

    <div class="speaker-info">
        <div class="speaker-name">
            {% if user_data.title and show_title -%}
                <span class="speaker-title">
                    {{- user_data.title -}}
                </span>
            {%- endif %}
            <span>{{ user_data.display_full_name }}</span>
            {% if contribution -%}
                {%- set pronouns = canonical_find_pronouns(contribution, user_data.person.user) -%}
                {%- if pronouns -%}
                    <span class="pronouns">({{pronouns}})</span>
                {%- endif -%}
            {%- endif %}
        </div>

        {%- if user_data.affiliation -%}
            <span class="affiliation">
                <span class="text" title="{{user_data.affiliation}}">
                    {%- if italic_affiliation -%}
                        <em>{{ user_data.affiliation }}</em>
                    {%- else -%}
                        {{ user_data.affiliation }}
                    {%- endif -%}
                </span>{#--#}
            </span>
        {%- endif -%}
    </div>
{%- endmacro %}

{% block content %}
    {%- if not published and contribution.event.can_manage(session.user) and not contribution.is_user_associated(session.user) -%}
        {% call message_box('warning') -%}
            {% trans %}
                The contributions of this event have not been published yet. You can only access
                this page because you are an event manager.
            {% endtrans %}
        {%- endcall %}
    {%- endif -%}

    {% if contribution.speakers %}
        {{- canonical_render_speakers(contribution) -}}
    {% endif %}

    {% if contribution.description %}
        <section>
            <div class="header">
                <div class="header-row">
                    <h3>{% trans %}Description{% endtrans %}</h3>
                </div>
            </div>
            <div class="description js-mathjax">
                {{ contribution.description }}
            </div>
        </section>
    {% endif %}

    {% for field_value in field_values %}
        {% set field = field_value.contribution_field %}
        {% if field.field_type == 'text' and field.field_data.multiline and field_value.data and field.is_active %}
            <h3>{{ field.title }}</h3>
            <div id="field-{{ field.id }}">
                {{ field_value.data | markdown }}
            </div>
        {% endif %}
    {% endfor %}

    <table class="other-fields">
        {% for field_value in field_values %}
            {% set field = field_value.contribution_field %}
            {% if (field.field_type == 'single_choice' or not field.field_data.multiline) and field_value.data and field.is_active %}
                {{ _render_field_value(field_value) }}
            {% endif %}
        {% endfor %}
    </table>

    {% if contribution.primary_authors %}
    <!-- Please use speakers instead
        <section>
            <div class="header">
                <div class="header-row">
                    <h3>
                        {% trans count=contribution.primary_authors|length -%}
                            Primary author
                        {%- pluralize -%}
                            Primary authors
                        {%- endtrans %}
                    </h3>
                </div>
            </div>
            {{ render_author_list(contribution.primary_authors, show_author_link) }}
        </section>
    -->
    {% endif %}

    {% if contribution.secondary_authors %}
    <!-- Please use speakers instead
        <section>
            <div class="header">
                <div class="header-row">
                    <h3>
                        {% trans count=contribution.secondary_authors|length -%}
                            Co-author
                        {%- pluralize -%}
                            Co-authors
                        {%- endtrans %}
                    </h3>
                </div>
            </div>
            {{ render_author_list(contribution.secondary_authors, show_author_link) }}
        </section>
    -->
    {% endif %}

    {{ render_attachments(contribution) }}

    {% if contribution.references -%}
        <section>
            <div class="header">
                <div class="header-row">
                    <h3>{% trans %}External references{% endtrans %}</h3>
                </div>
            </div>
            {{ render_references(contribution, 'reference-list-conference') }}
        </section>
    {%- endif %}

    {% if contribution.subcontributions -%}
        <section>
            <div class="header">
                <div class="header-row">
                    <h3>{% trans %}Subcontributions{% endtrans %}</h3>
                </div>
            </div>
            <div class="i-box no-padding">
                <div class="i-box-content">
                    <ul class="group-list no-content-before with-buttons">
                        {% for subcontrib in contribution.subcontributions -%}
                            <li class="flexrow f-j-space-between">
                                <span class="text">
                                    <a class="js-mathjax"
                                       href="{{ url_for('contributions.display_subcontribution', subcontrib) }}">
                                        {{- subcontrib.title -}}
                                    </a>
                                </span>
                                {% if subcontrib.can_manage(session.user) -%}
                                    <span>
                                        <a href="#" class="icon-edit"
                                           data-href="{{ url_for('contributions.manage_edit_subcontrib', subcontrib) }}"
                                           data-title="{% trans title=subcontrib.title %}Edit subcontribution '{{ title }}'{% endtrans %}"
                                           data-ajax-dialog
                                           data-reload-after></a>
                                    </span>
                                {%- endif %}
                            </li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
        </section>
    {%- endif %}
    {% if contribution.event.has_feature('papers') %}
        {{ render_paper_section(contribution) }}
    {% endif %}
    {% if contribution.event.has_feature('editing') %}
        {{ render_editables_section(contribution) }}
        {% if contribution.has_published_editables %}
            {{ render_proceedings_section(contribution) }}
        {% endif %}
        <script>
            setupEditableSubmissionButton();
        </script>
    {% endif %}
    <script>
        setupAttachmentTreeView();
    </script>
{% endblock %}
